/******************
  GENERAL STYLING
******************/
html {
  height: 100%;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 100px auto;
  height: 100%;
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  color: #a4a4a4;
}

a {
  color: #a4a4a4;
}

body:not(.list) {
  margin: 0;
  justify-content: center;
}

body.night {
  background-color: #1d1b1a;
}

header {
  text-align: center;
}

header > * {
  position: relative;
  top: 0;
  opacity: 0;
  animation: fadeup 340ms cubic-bezier(0.165, 0.84, 0.44, 1) 260ms forwards;
}

header > h1 {
  margin-top: 0;
  animation: fadeup 340ms cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

header > h3 {
  animation: fadeup 340ms cubic-bezier(0.165, 0.84, 0.44, 1) 130ms forwards;
}

header a {
  color: #b6b6b6;
}

.nav-button {
  z-index: 100;
  position: fixed;
  height: 22px;
  padding: 8px;
  border-radius: 3px;
  background-color: #2c2c2c;
  cursor: pointer;
  transition: 
    color 230ms,
    background-color 230ms;
}

#back-button {
  top: 10px;
  left: 35px;
}

#night-button {
  top: 10px;
  left: 10px;
}

#back-button:hover,
#night-button:hover {
  color: #ffffff;
  background-color: #808080;
}

/***************
  CARD STYLING
***************/
.card {
  position: relative;
  display: block;
  width: 600px;
  border-radius: 20px;
  padding: 20px;
  background-color: #ececec;
  margin: 18px auto;
  text-align: center;
  opacity: 0;
  animation: fadeup 440ms cubic-bezier(0.165, 0.84, 0.44, 1) 390ms forwards;
}

body.night .card {
  background-color: #4d4c4a;
}

.card.left,
.card.right {
  width: auto;
  margin: 18px 18vw;
}

.card.left {
  text-align: left;
}

.card.right {
  text-align: right;
}

.card h2 {
  position: relative;
  font-size: 19pt;
}

.card h4 {
  color: #6f6f6f;
  font-size: 18pt;
  margin: 16px 14px;
}

.card h5 {
  margin: 4px;
  font-size: 14pt;
  text-align: left;
}

.card p {
  margin-top: 4px;
  text-indent: 18px;
  line-height: 1.7;
  text-align: left;
}

.card a {
  color: #777777;
  background-color: #dfdfdf;
  padding: 3px;
  transition: 
    background-color 260ms, 
    width 160ms, 
    padding 210ms, 
    font-size 210ms;
  border-radius: 3px;
}

body.night .card a {
  color: #bcbcbc;
  background-color: #5f5d5d;
}

body.night .card h4 {
  color: #e6e6e6;
}

.card.no-button a:hover {
  color: #626262;
  background-color: #ffffff;
}

.card:not(.no-button) a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  width: 30%;
  border-radius: 5px;
  background-color: #d1d1d1;
}

.card:not(.no-button) a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  background-color: #b8b8b8;
  opacity: 0.28;
  transition: height 230ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card a:hover::after {
  height: 0;
}

.card > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.card li {
  margin: 14px;
  font-size: 14pt;
}

.card:not(.no-button) li > a {
  padding: 18px;
}

.card.left > .content,
.card.left > img,
.card.right > .content,
.card.right > img {
  display: inline-block;
  width: 45%;
  margin: 0 2%;
  vertical-align: top;
}

.card.left > img,
.card.right > img {
  border-radius: 4px;
}

.card.right > .content {
  float: right;
}

/*************
  ANIMATIONS  
*************/
@keyframes fadeup {
  0% {
    top: 100px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

/*****************
  RESPONSIVENESS
*****************/
@media only screen and (max-width: 750px) {
  #back-button {
    left: 10px;
    top: 48px;
  }

  .card {
    width: 80vw !important;
    border-radius: 8px;
    padding: 0 0 18px;
  }

  .card:not(.no-button) > a {
    display: block !important;
    width: 100%;
    margin: 12px 0;
  }

  .card.no-button > a {
    padding: 12px;
    font-size: 15pt;
  }

  .card.left,
  .card.right {
    max-width: 64vw;
    display: flex;
    flex-direction: column;
  }

  .card.no-button > img {
    order: 1;
    width: 100%;
    margin: 0;
    border-radius: 4px;
  }

  .card.no-button > h4 {
    order: 2;
    width: 92%;
    margin: 18px 4%;
    text-align: center;
  }

  .card.no-button > .content {
    order: 3;
    width: 92%;
    margin: 0 4%;
  }

  .content > h5:nth-child(n + 3),
  .content > p:nth-child(n + 4) {
    display: none;
  }

  .content {
    text-align: left;
  }
}
