@charset "UTF-8";

body {
    margin: 0;
    overflow: hidden;
    background-color: #3d3c3a;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

header {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    height: 4%;
    width: 100%;
    opacity: 1;
    background-color: #3d3c3a;
    text-align: center;
}

header > div {
    color: #ffffff;
    line-height: 10px;
}

#title {
    font-weight: normal;
    font-size: 1.3em;
}

div.left-bar {
    position: fixed;
    width: 0.5%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #3d3c3a;
}

div.right-bar {
    position: fixed;
    width: 0.5%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #3d3c3a;
}

.container {
    border-radius: 15px;
    overflow: hidden;
    position: fixed;
    top: 4%;
    left: 0.5%;
    height: 91%;
    width: 99%;
}

/* General Pages (creators, About) */

.page {
    position: fixed;
    top: 4%;
    left: 0.5%;
    height: 91%;
    width: 99%;
    text-align: center;
    overflow-y: scroll;
    overflow-x: visible;
    background-color: #eeefed;
    transition: all 850ms ease-in-out;
    transform: translate3d(0, 0, 0);
}

.page.right {
    transform: translate3d(100%, 0, 0);
}

.page.left {
    transform: translate3d(-100%, 0, 0);
}

/* About */
@keyframes float {
    0% {
        transform: translateY(-12px);
    }
    50% {
        transform: translateY(12px);
    }
    100% {
        transform: translateY(-12px);
    }
}

.about h2 {
    line-height: 260px;
    font-size: 4.2em;
    animation: float 6s ease-in-out infinite;
}

.about p {
    padding: 4px 26px;
}

/* Creators */
.creators h4 {
    margin: 32px auto;
    width: 70%;
    color: #4d4b48;
    border-bottom: 2px solid #4d4b48;
}

/* creator */

.image-adjust {
    margin: 20px;
    height: 320px;
    width: 320px;
    overflow: hidden;
    box-shadow: 1px 2px 8px 4px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border: 3px solid #3d3c3a;
}

.offline > .image-adjust {
    margin: 0;
    height: 240px;
    width: 240px;
    display: inline-block;
    overflow: hidden;
    box-shadow: 1px 2px 8px 4px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border: 3px solid #3d3c3a;
}

img {
    width: 100%;
    height: 100%;
}

.creator {
    background-color: #fff;
    margin: 12px;
    vertical-align: top;
    display: inline-block;
    height: 540px;
    padding: 72px 80px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
}

.offline {
    background-color: #fff;
    width: 60%;
    margin: 12px auto;
    display: block;
    transition: all 540ms linear;
    padding: 80px 80px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
}

.creator:hover,
.offline:hover {
    box-shadow: 4px 4px 8px 3px rgba(0, 0, 0, 0.17);
}

.offline-right {
    display: inline-block;
    width: 50%;
    text-align: center;
    vertical-align: top;
}

.offline-right h2 {
    font-size: 1.8em;
    text-align: center;
    line-height: 32px;
}

.offline-right ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.creator h2 {
    margin: 8px 0px;
    text-align: center;
    padding: 2px;
}

.creator ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.creator > ul > li,
.offline-right > ul > li {
    margin: 10px 0;
}

.creator h3,
.offline-right h3 {
    margin: 12px;
    position: relative;
    display: inline;
    font-size: 1em;
}

.creator div.streaming-border {
    content: "";
    visibility: visible;
    position: absolute;
    top: 350px;
    left: 348px;
    width: 64px;
    height: 64px;
    box-shadow: 1px 2px 16px 4px rgba(0, 0, 0, 0.13);
    border-radius: 50%;
    background: rgb(46, 46, 46);
}

.creator div.streaming-indicator {
    content: "";
    visibility: visible;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
    padding: 0;
    border-radius: 50%;
}

.creator div.live.streaming-indicator:before {
    content: "Live";
    opacity: 0;
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    line-height: 56px;
    text-align: center;
    transition: all 140ms ease-in-out;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.86);
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.3);
}

.creator div.offline.streaming-indicator:before {
    content: "Offline";
    opacity: 0;
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    line-height: 56px;
    text-align: center;
    transition: all 120ms ease-in-out;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.1);
}

.creator div.streaming-indicator:hover:before {
    opacity: 1;
}

h3 > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -2px;
    left: 0;
    background-color: #969696;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 240ms ease-in-out;
}

h3 > a {
    color: #4d4b48;
    padding: 4px;
    transition: .2s;
}

h3 > a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

h3 > a:hover {
    color: #969696;
}

h3 > a.twitch:hover:before {
    background-color: rgb(117, 39, 189);
}

h3 > a.youtube:hover:before {
    background-color: rgb(223, 42, 29);
}

h3 > a.twitter:hover:before {
    background-color: rgb(46, 156, 230);
}

h3 > a.instagram:hover:before {
    background: linear-gradient(90deg, rgb(115, 59, 168), rgb(230, 63, 146), rgb(226, 213, 26));
}

h3 > a.reddit:hover:before {
    background-color: rgb(231, 112, 15);
}

h3 > a.facebook:hover:before {
    background-color: rgb(33, 63, 233);
}

.bounce-up {
    opacity: 0;
    transition: all 456ms ease-out;
    transform: translate3d(0, 100px, 0);
    -webkit-transform: translate3d(0, 100px, 0);
}

.bounce-up.in-view {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}


/* Bottom Navigation */

nav {
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5%;
    background-color: #3d3c3a;
}

nav > ul {
    width: 100%;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    text-align: center;
}

nav > ul > li {
    display: inline-block;
    padding: 0 4px;
    width: 120px;
    height: 100%;
    margin: auto;
    text-align: center;
}

nav div {
    height: 100%;
    line-height: 50px;
    color: #ffffff;
    background-color: #3d3c3a;
    transition: 0.6s;
}

nav div:hover {
    cursor: pointer;
    background-color: #969696;
    transition: 0.4s;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}